@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.main{
    display: flex;
    justify-content: space-between;
    background-color: #18041d; 
    align-items: center;
    padding: 0px 30px;
    height: 70px;
    color:#eedeec;
}
.logo{
    font-family: 'Macondo',cursive;
    font-size: 20px;
}
.nav_links{
    display: flex;
    justify-content: flex-end;
    gap:32px;
}
.nav_links_items{
    cursor: pointer;
    font-weight: 600;
    position: relative;
}
.nav_links_items::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #dae764;
    transition: width 0.3s ease-out 0s,
    left 0.4s ease 0s;
    width: 0;
}
.nav_links_items:hover:after {
    width: 100%;
    left: 0;
}

.footer{
    background-color: rgb(193, 213, 216);
    display: flex;
    align-items: center;
}